<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Lost & Found Board</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Sign out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Page Content -->
    <div class="container">
    
        <div class="row">
    
            <!-- Blog Entries Column -->
            <div class="col-md-8">
    
                <h1 class="my-4">Post Detail
                    <!--<small>Secondary Text</small>-->
                </h1>
    
                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-body" *ngIf="detail">
                        <!--<h2 class="card-title">&#128148 Red scarf lost</h2>-->
                        <h2 class="card-title">&#9752; {{detail['title']}}</h2>
                        <form class="detail-form">
                            <label for="status" class="detail-label">Status: </label>
                            <span class="detail-span" *ngIf="detail['status']==0" id="status">New Open</span><br>
                            <span class="detail-span" *ngIf="detail['status']==1" id="status">Closed</span><br>
                            <label for="location" class="detail-label">Location: </label>
                            <span class="detail-span" id="location">{{detail['location']}}</span><br>
                            <label for="key-time" class="detail-label">Found Time: </label>
                            <span class="detail-span" id="key-time">03/25/2015</span><br>
                            <label for="contact" class="detail-label">Contact: </label>
                            <span class="contact" id="contact" type="email">goodpal@gmail.com</span><br>
                            <label for="description" class="detail-label">Description: </label>
                            <p class="detail-desc" id="description">{{detail['desc']}}</p>
                            <!--<label for="comments" class="detail-label">Comments</label>-->
    
                            <div class="detailBox">
                                <div class="titleBox">
                                    <label>Comments</label>
                                </div>
                                <div class="actionBox">
                                    <ul class="commentList">
                                        <li>
                                            <div class="commenter">
                                                Xianjian Bao
                                            </div>
                                            <div class="commentText">
                                                <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
    
                                            </div>
                                        </li>
                                        <li>
                                            <div class="commenter">
                                                Yi Cai
                                            </div>
                                            <div class="commentText">
                                                <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>
    
                                            </div>
                                        </li>
                                        <li>
                                            <div class="commenter">
                                                Zongfei Xi
                                            </div>
                                            <div class="commentText">
                                                <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
    
                                            </div>
                                        </li>
                                    </ul>
                                    <form class="form-inline" role="form">
                                    </form>
    
                                    <form class="form-inline" role="form">
                                        <p id="add-comment">
                                            <input id="comment-input" class="form-control" type="text" placeholder="Your comments" />
                                            <button class="btn btn-primary">Add</button>
                                        </p>
                                    </form>
    
                                </div>
                            </div>
    
                            <br>
                            <button class="btn btn-primary" (click)='goback()' >Go Back &larr;</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on January 1, 2017 by
                        <a href="#">Start Bootstrap</a>
                    </div>
                </div>
    
            </div>
    
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
    
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
    
                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>
    
            </div>
    
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container -->
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>