<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Lost & Found Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home" id="home-hover">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" id="signIn">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup" id="signUp-hover">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Hi guest, please login.
                <!--<small>Secondary Text</small>-->
            </h1>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img [src]='imagePath' class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <!--<h2 class="card-title">Post Title</h2>-->
                    <form [formGroup] = "signinForm" #f="ngForm"  class="form"  (ngSubmit)=onLogin(f.value) >
                        <br>
                        <label class="login-label" for="login_id" style="width: 100px">Login ID</label>
                        <input class="login-input" ngModel formControlName="email" type="email" name="username" id="login_id" style="width: 240px" placeholder=" example@domain.com">
                        <br>
                        <label class="login-label" for="login_password" style="width: 100px">Password</label>
                        <input class="login-input" ngModel formControlName = "pwd" type="password" name="password" id="login_password" style="width: 240px" placeholder=" 6 characters">
                        <br>
                        <br>
                        <button class="btn btn-primary" style="width: 348px">Login</button>
                    </form>


                    <!--<a href="#" class="btn btn-primary" style="width: 120px">Login</a>-->
                </div>

                <div *ngIf="
                signinForm.get('email').touched&&
                signinForm.get('email').errors&&
                signinForm.get('email').errors.mum" class="alert alert-danger">
                        you must input the email address from MUM.
                </div>
                <div class="alert alert-danger" *ngIf="returnobj.Message" >
                    {{returnobj.Message}}

                </div>

                <div class="card-footer text-muted">
                    Not a member yet?
                    <a href="/signup"> Sign up here.</a>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>